* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
    background: url(../img/background.png);
    min-width: 1100px;
    /*background: #fff;*/
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a,
dd,
div,
dl,
i,
img,
input,
li,
p,
span,
ul {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.switch-color {
    display: none;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0px;
    background: #fff;
    z-index: 1;
}
.switch-color .switch-colorB{
    width: 495px;
    min-width: 495px;
    /*background: red;*/
    margin: 0 auto;
    height: 100%;
}
.switch-color  .skin-color button{
    border: 1px solid #b1b1b1;
    display: inline-block;
    /*border: 0px;*/
    outline: 0;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/*头部导航*/

.head-nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 35px;
}


/*顶部左边天气信息*/

.head-left {
    font-size: 13px;
    float: left;
    color: #fff;
}

.head-left a {
    font-size: 13px;
    color: #fff;
    margin-left: 10px;
    text-decoration: underline;
    line-height: 35px;
}


/*天气部分去掉下划线*/

.head-left .textNone {
    text-decoration: none;
    border-right: 1px solid #fff;
}


/*天气小图标*/

.textNone .tianqi {
    display: inline-block;
    background-image: url(../img/sun.png);
    background-size: 25px 25px;
    width: 15px;
    height: 15px;
    background-position: -4px -5px;
    position: relative;
    top: 3px;
}


/*良*/

.textNone span {
    color: #53ff51;
    padding: 0 3px;
    font-weight: bolder;
}


/*顶部右边导航*/

.head-right {
    float: right;
}


/*导航链接部分*/

.head-navLonin {
    display: inline;
}

.head-navLonin .nav-URL {
    float: left;
}

.head-navLonin .nav-URL a {
    font-size: 13px;
    font-weight: bolder;
    text-decoration: underline;
    margin-right: 20px;
    color: #fff;
    line-height: 35px;
}


/*登陆信息*/

.login,
.set {
    float: left;
    position: relative;
}

.login>a,
.set>a {
    text-decoration: underline;
    line-height: 35px;
    font-size: 13px;
    color: #fff;
    display: block;
    text-align: center;
    padding: 0 10px;
    width: 70px;
}

.setting_icon {
    /*设置下来菜单的小三角*/
    position: absolute;
    top: 25px;
    right: 28px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #bbbbbb;
    display: none;
}

.setting_icon:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #fff;
}

.login ul,
.set ul {
    background: #fff;
    display: none;
    position: absolute;
    left: 4px;
}

.login li,
.set li {
    font-size: 12px;
    color: #000;
}

.login li a,
.set li a {
    display: block;
    padding: 5px 8px;
}

.login li a:hover,
.set li a:hover {
    background-color: #398bfb;
    color: #fff;
}

.login:hover i,
.set:hover i {
    display: block;
}

.login:hover ul,
.set:hover ul {
    display: block;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
}


/*更多产品*/

.more {
    display: inline-block;
    height: 35px;
    width: 90px;
    background: #398bfb;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}


/*隐藏的产品样式*/

.hide-more {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 90px;
    height: 100%;
    min-height: 600px;
    border-left: 1px solid #ddd;
    background: #f9f9f9;
    display: none;
}

.hide-more ul {
    padding: 20px 5px 0 5px;
    text-align: center;
}

.hide-more ul li {
    position: relative;
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.hide-more ul a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

.more_sub {
    /*公共背景小图片的位置*/
    display: block;
    width: 36px;
    height: 36px;
    margin: 15px auto 5px;
}

.hide-more ul .one {
    background-image: url(../img/hide-imgs.png);
    background-repeat: no-repeat;
    background-position: -74px 0;
}

.hide-more ul .two {
    background-image: url(../img/hide-imgs.png);
    background-repeat: no-repeat;
    background-position: -112px 0;
}

.hide-more ul .three {
    background-image: url(../img/hide-imgs.png);
    background-repeat: no-repeat;
    background-position: -36px 0;
}

.hide-more ul .four {
    background-image: url(../img/hide-imgs.png);
    background-repeat: no-repeat;
    background-position: -146px 0;
}

.hide-more ul .five {
    background: url(../img/hide-imgs.png);
    background-repeat: no-repeat;
    background-position: -182px 0;
}

.hide-more .ul_first {
    height: 15px;
}

.hide-more .ul_last {
    height: 30px!important;
    line-height: 30px;
    border: none;
}

.hide-more .ul_more_block {
    height: 35px;
    padding-top: -20px;
    position: relative;
    top: -20px;
    display: block;
    line-height: 35px;
}


/*更多产品下的a标签*/

.hide-more ul a:hover {
    text-decoration: underline;
}


/*更多产品的a标签去掉下划线*/

.hide-more .ul_more_block:hover {
    text-decoration: none;
}


/*百度logo及搜索框*/

.middle {
    height: 100%;
}


/*百度logo*/

.middle .logo {
    height: 61.8%;
    min-height: 180px;
    position: relative;
    z-index: -1;
    text-align: center;
}

.middle form {
    position: relative;
    width: 644px;
    margin: 0 auto;
    top: -35px;
}

.middle form input {
    width: 540px;
    padding: 5px 50px 5px 15px!important;
    border: 0;
    outline: 0;
    background-image: none;
    height: 40px;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


/*相机标签*/

.middle form span {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 506px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 18px;
    background: #fff url(../img/camera.png) no-repeat;
}

.middle form span:hover {
    background-position: 0px -20px
}


/*百度一下按钮*/

.middle form button {
    height: 40px;
    width: 104px;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: #000;
    background: #d8d8d8;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    cursor: pointer;
}


/*信息栏*/

.container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 895px;
    height: auto;
    background: rgba(255, 255, 255, .6);
}


/*切换的导航栏*/

.centre-nav {
    border-bottom: 1px solid;
    border-color: rgba(169, 169, 169, 0.6);
    height: 40px;
}

.swit-block {
    display: inline-block;
    height: 40px;
    cursor: pointer;
}

.swit-block ul li {
    display: inline-block;
    float: left;
    padding: 0 25px;
    line-height: 40px;
    font-size: 15px;
}

.swit-block ul li i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/r-icon.png) no-repeat;
    background-size: 18px;
    margin-right: 4px;
    top: 2px;
    position: relative;
}

.swit-block ul li:hover {
    background-color: rgba(236, 236, 236, 0.6);
}


/*高亮位置样式*/

.swit-color {
    background-color: rgba(236, 236, 236, 0.6);
    font-weight: bolder;
}


/*设置图标*/

.setting {
    display: inline-block;
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 100;
    cursor: pointer;
}

.setting .set-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../img/bfsz.png) no-repeat;
    background-position: 8px 8px;
    background-size: 24px;
    position: relative;
}

.setting .set-icon:hover {
    background: url(../img/dbsz.png) no-repeat;
    background-position: 8px 8px;
    background-size: 24px;
}


/*设置的下拉列表*/

.set-list {
    width: 895px;
    height: 200px;
    background: #fff;
    position: absolute;
    right: 0px;
    border: 1px solid #c4c4c4;
    border-top-color: #fff;
    padding: 0px 20px;
    display: none;
}


/*订阅频道*/

.Subscribed {
    width: 425px;
    display: inline-block;
    float: left;
}

.sub-right {
    float: right;
}

.Subscribed p {
    font-size: 13px;
    color: #4e4e4e;
    text-align: left;
    padding: 0px 10px;
    padding-top: 20px;
}

.Sub-tab {
    text-align: left;
    padding: 0px 10px;
}

.Sub-tab span,
.sub-right span,
.hide-Sub span {
    display: inline-block;
    font-size: 13px;
    color: #000;
    border: 1px dashed #bdbdbd;
    padding: 0px 15px;
    margin-right: 10px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.Sub-tab span:hover {
    border: 1px dashed #398bfb;
    color: #6f6f6f;
}

.Sub-tab span:first-child {
    border: 1px solid #bdbdbd;
    color: #6f6f6f;
}

.sub-right span {
    border: 1px dashed #bdbdbd;
    color: #000;
}

.sub-right span:hover {
    border: 1px dashed #398bfb;
    background-color: #398bfb;
    color: #fff;
}

.hide-Sub {
    border-top: 1px solid #e4e4e4;
    height: 35px;
    clear: both;
    position: relative;
    top: 20px;
}

.hide-Sub span {
    border: 0px;
    text-align: right;
    float: right;
    padding: 3px 10px 0px;
}


/*信息容器*/

#container-info {
    width: 895px;
    height: auto;
    padding: 0px 30px;
}


/*底部信息*/

.footer {
    padding: 20px 0;
    clear: both;
}

.footer p {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    /*padding: 3px 0;*/
}

.footer a {
    text-decoration: underline;
}

.footer i {
    background: url(../img/icons16.png) no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: -23px 0px;
    position: relative;
    top: 3px;
}

#get-top {
    width: 30px;
    height: 35px;
    background: #dedede;
    right: 0px;
    bottom: 30px;
    position: fixed;
}

#get-top a {
    display: inline-block;
}

#get-top .arrow {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-top: 3px solid #969696;
    border-left: 3px solid #969696;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    top: 12px;
    left: 8px;
}
