*{
	margin: 0;
	padding: 0;
}

body{
	font-family:"Microsoft Yahei";
	cursor: pointer;
}

#container{
	width: 100%;
	min-width: 830px;
	height: auto;
	background: #ccc;
	overflow: hidden;
}

#container .content{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
	min-width: 800px;
	height: auto;
	background: #fff;
	border: 1px solid #333;
} 

#container .content h1{
	text-align: center;
	padding-top: 30px;
}

#container .content .img{
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	height: 30px;
	background: url(../img/icon.gif) repeat-x left ;
	background-size: 30px 30px; 
}

#container .content div{
	padding:10px 40px ;
}

#container .content .one{
	padding-top:40px;
}

#container .content div p{
	color: #333;
	padding: 10px 20px 0px;
	line-height: 28px;
}