 /*我的关注*/
 
 .attention .my {
     padding: 20px 0 10px 0;
     border-bottom: 1px solid #d8d8d8
 }
 
 .attention .show span {
     font-weight: bolder;
     font-size: 15px;
     cursor: pointer;
 }
 
 .attention .show em {
     font-style: inherit;
     font-size: 14px;
     color: #4e4e4e;
     cursor: pointer;
 }
 /*图标*/
 
 .attention .show i {
     background: url(../img/e-resize.png) no-repeat;
     display: inline-block;
     width: 13px;
     height: 13px;
     background-size: 14px;
     cursor: pointer;
 }
 /*自定义*/
 
 .attention .custom {
     border: 0;
 }
 
 .custom .hide {
     border: 0;
     height: 200px;
 }
 /*导航/小说hide*/
 
 .myNav .hide,
 .myNovel .hide {
     display: none;
 }
 
 .myNav .hide p,
 .myNovel .hide p {
     text-align: center;
     font-size: 22px;
     font-family: 华文行楷;
     padding: 20px 0 50px 0;
     cursor: default;
 }
 
 .myNav .hide a,
 .myNovel .hide a {
     color: #398bfb;
     cursor: pointer;
     text-decoration: underline;
 }
 /*星座hide*/
 
 .myConstellation .hide {
     height: 220px;
     display: none;
 }
 
 .myConstellation .hide >ul {
     border-bottom: 1px solid #d1d1d1;
     line-height: 40px;
     text-align: left;
     padding: 0px 20px;
     cursor: pointer;
     font-size: 15px;
 }
 
 .myConstellation .hide >ul:hover {
     border-bottom: 1px solid #398bfb;
 }
 
 .myConstellation .hide .xzMessage {
     padding: 20px 20px;
     font-size: 14px;
 }
 
 .myConstellation .hideImg {
     display: inline-block;
     margin-top: 10px;
 }
 
 .myConstellation .hideImg p {
     text-align: center;
 }
 
 .myConstellation .hideMes {
     display: inline-block;
     float: right;
 }
 
 .myConstellation .hideMes .span {
     display: inline-block;
 }
 
 .myConstellation .hideMes .span span:first-child {
     background: #398bfb;
     color: #fff;
 }
 
 .myConstellation .hideMes .span span {
     display: inline-block;
     color: #000;
     padding: 5px 10px;
     border: 1px solid #eee;
     cursor: pointer;
     margin-right: -6px;
 }
 
 .myConstellation .hideMes .span span:hover {
     background: #398bfb;
     color: #fff;
 }
 
 .myConstellation .hideMes .ul li {
     float: left;
     margin-right: 50px;
     margin-top: 10px;
     cursor: pointer;
 }
 
 .myConstellation .hideMes .ul li span {
     background: none;
     border: 0;
     color: #ffa700;
 }
 
 .myConstellation .hideMes p {
     display: inline-block;
     width: 587px;
     font-size: 14px;
     padding-top: 10px;
     cursor: pointer;
 }
 /*导航*/
 
 .myNavs {
     height: 500px;
 }
 
 .myNavs .navLike {
     padding: 20px 0 10px 0;
     clear: both;
 }
 
 .navLike h3 {
     display: block;
     font-size: 16px;
     padding-bottom: 10px;
 }
 
 .navLike ul li {
     float: left;
     display: inline-block;
     /*padding: 10px 15px;*/
     background: #eee;
     margin-left: 15px;
     margin-bottom: 15px;
     width: 120px;
     height: 50px;
     text-align: center;
     line-height: 50px;
     color: #ffa700 font: 15px;
     cursor: pointer;
 }
 
 .navLike ul li a {
     color: #ffa700;
     font-size: 15px;
     display: block;
 }
 /*推荐*/
 
 .recommend {
     padding: 20px 0 10px 0;
     height: 595px;
 }
 
 .recommend .news-1 {
     width: 550px;
     float: left;
 }
 
 .recommend .news-1 .h2,
 .recommend .news-1 .news-img {
     padding: 0px 0 5px 0;
     border-bottom: 1px solid #c7c7c7;
     margin-bottom: 20px;
 }
 
 .news-1 h2 {
     font-size: 18px;
 }
 
 .news-1 p {
     font-size: 12px;
     color: #595959;
     padding: 10px 0;
 }
 
 .news-img .div-img {
     display: inline-block;
     width: 200px
 }
 
 .news-img .div-img img {
     display: inline-block;
     width: 200px;
     height: 120px;
     background: #eee;
 }
 
 .news-img .div-h {
     display: inline-block;
     border: 0px;
     width: 340px;
     padding: 0px 15px 0 0;
     position: relative;
     top: -28px;
 }
 
 .recommend .news-2 {
     width: 280px;
     display: inline-block;
     float: right;
     padding: 0px 25px;
 }
 
 .recommend .news-2 h2 {
     font-size: 15px;
 }
 
 .recommend .news-2 ul {
     float: left;
 }
 
 .recommend .news-2 ul li {
     padding: 10px 15px 5px 0px;
     font-size: 14px;
 }
 /*小说*/
 
 .novel {
     padding: 20px 0 10px 0;
     height: 530px;
 }
 
 .novel ul li {
     float: left;
     display: inline-block;
     width: 271px;
     height: 152px;
     background: #D6D6D6;
     margin-right: 10px;
     margin-bottom: 10px;
 }
 
 .novel ul .li {
     margin-right: 0;
 }
 
 .novel .novel-img {
     display: inline-block;
     height: 130px;
     width: 105px;
     background: #eee;
     position: relative;
     top: -48px;
     left: 10px;
 }
 
 .novel .novel-z {
     display: inline-block;
     font-size: 13px;
     padding-left: 10px;
     position: relative;
     top: 20px;
 }
 
 .novel .novel-z>p a {
     font-size: 14px;
 }
/*视频*/
.videos{
     padding: 20px 0 10px 0;
    
}
.videos .videos-div {
    height: 250px;
    margin-bottom: 10px;
    /*margin-top: 20px;*/
}
.videos .videos-div .div-1,
.videos .videos-div .div-2,
.videos .videos-div .div-3,
.videos .videos-div .div-4{
    display: inline-block;
    width: 197px;
    height: 100%;
    margin-right: 10px;
    background: #f1c4cc;
}
.videos .videos-div .divColor{
    background: none;
}
.videos .videos-div .margindiv{
    margin-right: 0px;
}
.videos .videos-div .div-3-1,
.videos .videos-div .div-3-2,
.videos .videos-div .div-4-1,
.videos .videos-div .div-4-2
{
    height: 120px;
    width: 100%;
    margin-bottom: 10px;
    background: #f1c4cc;
}
.videos .videos-div .margindiv-f{
    margin-bottom: 0px;
}

/*购物*/
.shoppingColor{
    background: #ff73e5!important;
}
